rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }
    function isHost() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "host";
    }

    match /users/{uid} {
      allow read:   if true;
      allow create: if true;
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /matches/{matchId} {
      allow read:   if isSignedIn();
      allow create: if isHost();
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /messages/{msgId} {
      allow read:   if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /conversations/{convId} {
      allow read:   if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isSignedIn();
      match /messages/{msgId} {
        allow read:   if isSignedIn();
        allow create: if isSignedIn();
        allow update: if isSignedIn();
        allow delete: if isSignedIn();
      }
    }

    match /media/{docId} {
      allow read:  if isSignedIn();
      allow write: if true;
    }

    match /config/googleDriveToken {
      allow read, write: if isHost();
    }
  }
}