rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }
    function isHost() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "host";
    }
    function isParticipant(convId) {
      return request.auth.uid in get(/databases/$(database)/documents/conversations/$(convId)).data.participants;
    }

    match /users/{uid} {
      allow read:   if true;
      allow create: if true;
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /matches/{matchId} {
      allow read:   if isSignedIn();
      allow create: if isHost();
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /messages/{msgId} {
      allow read:   if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isHost();
    }

    match /conversations/{convId} {
      allow read:   if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && request.auth.uid in resource.data.participants;
      allow delete: if isSignedIn() && request.auth.uid in resource.data.participants;
      match /messages/{msgId} {
        allow read:   if isSignedIn() && isParticipant(convId);
        allow create: if isSignedIn() && isParticipant(convId);
        allow update: if isSignedIn() && isParticipant(convId);
        allow delete: if isSignedIn() && isParticipant(convId);
      }
    }

    match /media/{docId} {
      allow read:  if isSignedIn();
      allow write: if true;
    }

    match /config/googleDriveToken {
      allow read, write: if isHost();
    }
  }
}